<?xml version="1.0" ?>
<robot name="david_urdf2" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.900 0.900 0.900 1.000"/>
</material>

<material name="black">
  <color rgba="0.10 0.100 0.100 1.000"/>
</material>

<material name="plum">
  <color rgba="0.557 0.270 0.521 1.000"/>
</material>
</robot>
