<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="david_urdf3">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import david_urdf3 urdf file -->
    <xacro:include filename="$(find david_urdf3_description)/urdf/david_urdf3.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="david_urdf3.ros2_control.xacro" />


    <xacro:david_urdf3_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
